      #bg {
      position: fixed; 
      top: -50%; 
      left: -50%; 
      width: 200%; 
      height: 200%;
      z-index: -9999;
      }
      #bg img {
      position: absolute; 
      top: 0; 
      left: 0; 
      right: 0; 
      bottom: 0; 
      margin: auto; 
      min-width: 50%;
      min-height: 50%;
      }
      .module {
      background: 
      linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
      ),
      url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/skyscrapers.jpg);
      background-size: cover;
      width: 300px;
      height: 200px;
      margin: 10px 0 0 10px;
      position: relative;
      float: left;
      }
      hr{
      display: block;
      height: 5px;
      border: 0;
      border-top: 5px solid #0288d1;
      border-bottom: 5px solid #0288d1;
      margin: 1em 0;
      padding: 0; 
      }
      .hr {color: #0288d1; }
      .hr.inverse {color: #FFF; }
      .hr i{ position: relative; top: -16px; }
      hr.inverse{
      display: block;
      height: 5px;
      border: 0;
      border-top: 5px solid #fff;
      border-bottom: 5px solid #fff;
      margin: 1em 0;
      padding: 0; 
      }
      span {
      display: inline-block;
      vertical-align: middle;
      }
      .outer-line {
      width: 40%;
      border : 0 ;
      height: 10px;
      border-top: 2px solid #0288d1;
      border-bottom: 2px solid #0288d1;
      }
      .hr.inverse .outer-line {
      width: 40%;
      border : 0 ;
      height: 10px;
      border-top: 2px solid #fff;
      border-bottom: 2px solid #fff;
      }
      .btn-flat{
      border: 0;
      border-top: 2px solid #212121;
      border-bottom: 2px solid #212121;
      }
      .shazam img {width: 100%; }
      .carai img {height: 100%; }
      /*.parallax img {height: 15%; display: inherit !important; }*/
      .timeline {
      position: relative;
      }
      .timeline .timeline-event {
      position: relative;
      padding-top: 5px;
      padding-bottom: 5px;
      }
      .timeline .timeline-event .timeline-content {
      position: relative;
      width: calc(50% - 50px);
      }
      .timeline .timeline-event::before {
      display: block;
      content: "";
      width: 2px;
      height: calc(50% - 30px);
      position: absolute;
      background: #d2d2d2;
      left: calc(50% - 1px);
      top: 0;
      }
      .timeline .timeline-event::after {
      display: block;
      content: "";
      width: 2px;
      height: calc(50% - 30px);
      position: absolute;
      background: #d2d2d2;
      left: calc(50% - 1px);
      top: calc(50% + 30px);
      }
      .timeline .timeline-event:first-child::before {
      display: none;
      }
      .timeline .timeline-event:last-child::after {
      display: none;
      }
      .timeline .timeline-event:nth-child(even) .timeline-content {
      margin-left: calc(50% + 50px);
      }
      .timeline .timeline-event:nth-child(odd) .timeline-content {
      margin-left: 0;
      }
      .timeline .timeline-badge {
      display: block;
      position: absolute;
      width: 40px;
      height: 40px;
      background: #d2d2d2;
      top: calc(50% - 20px);
      right: calc(50% - 20px);
      border-radius: 50%;
      text-align: center;
      cursor: default;
      }
      .timeline .timeline-badge i {
      font-size: 25px;
      line-height: 40px;
      }
      @media (max-width: 600px) {
      .timeline .timeline-event .timeline-content {
      width: calc(100% - 70px);
      }
      .timeline .timeline-event::before {
      left: 19px;
      }
      .timeline .timeline-event::after {
      left: 19px;
      }
      .timeline .timeline-event:nth-child(even) .timeline-content {
      margin-left: 70px;
      }
      .timeline .timeline-event:nth-child(odd) .timeline-content {
      margin-left: 70px;
      }
      .timeline .timeline-badge {
      left: 0;
      }
      }
      .space{
      padding-left: 5%;
      padding-right: 5%;
      }
      .space_hr{
      padding-top: 10%;
      padding-bottom: 10%;
      }
      .space_hr_min{
      padding-top: 2%;
      padding-bottom: 5%;
      }
      .space_margin{
      margin-left: 5%;
      margin-right: 5%;
      }
ul.circled { list-style: none;}
  
  ul.circled li {
    display: inline-block;
    background-color: black;
    margin: 15px;
    border-radius: 50%;
  }
    ul.circled a {
      color: white;
      display: table-cell;
      vertical-align: middle; 
      text-align: center;
      text-decoration: none;
      height: 150px;
      width: 150px;   
      
      }
.circlePhoto {
  display: inline-block;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 5px;
  border-style: groove;
    border-color: #fff #0288d1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.flashSlow {
   animation-duration: 3s;
}
.pulseSlow {
   animation-duration: 4s;
}
.velrino {
  background-image: url('https://instagram.frao1-2.fna.fbcdn.net/t51.2885-15/e35/14582455_223956791371706_1738976792942739456_n.jpg');
}
